<footer class="border-t border-gray-800 bg-[#0E1424] py-4 mt-12">
  <div class="container mx-auto px-4 text-center text-sm text-gray-500">
    &copy; 2026 Kalkulator Saham. All rights reserved.
      <br>
      <span class="text-xs bg-emerald-600 text-white px-2 py-1 rounded-full">
        Developed by Nagata Darmawan
      </span>
  </div>
</footer>